.git
.gitignore

.venv
venv

__pycache__
*.py[cod]
.pytest_cache
.ruff_cache

.env
.env.*
!.env.example

data
images
uploads
cache
models

*.egg-info
build
dist

.vscode
.idea

*.log
.DS_Store
Thumbs.db